<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label> Imagine a number between 0 and 1000!
        <form action=/ method="POST"
            Imagine a number between 0 and 1000! <br/>
            <button name="Choice" value="To small" id='to_small'> To small</button>
            <button name="Choice" value="To Big" id='to_big'> To Big</button>
            <button name="Choice" value="You win" id='you_win'> You win</button>
            <br/>
        </label>
        </form>
<p>
    {{number}}
</p>
</body>
</html>
